streamlit
pandas
numpy
matplotlib
scikit-learn
statsmodels
plotly
networkx
openpyxl
streamlit
openai>=1.0.0
streamlit-chat
gspread
google-auth
pygsheets
bcrypt
extruct
w3lib
lxml
transformers
torch
beautifulsoup4
requests
pycountry
